body{
    background-color: lightslategrey;
    font-family:arial;
    font-size:15px;
    line-height:5mm;
    min-height: 100%;
    min-width: 100%;
}
fieldset{
    background-color: rgb(58, 82, 112);
    width: 0 auto;
    margin: 0 auto;
}
table{
    background-color: lightgrey;
    text-align: center;
    border-style: groove;
}
li{
    list-style:1;
}
a{
    text-decoration: none;
    color: navy;
}
a:hover{
    background-color: white;
    padding: 2px;
}
.container{
    width:80%;
    margin: auto;
    overflow: auto;
    align-content: center;
}
header{
    border-bottom: 3px;
    text-align: center;
    padding-bottom: 10px;
}
footer{
    border-top:3px #f4f4f4 solid;
    text-align: center;
    padding-top: 10px;
}
img{
    max-width: 100%;
    max-height: 100%;
    height: 0 auto;
    width: 0 auto;
}
iframe{
    max-width: 100%;
    max-height: 100%;
    width: 100px;
    height: 100px;
}
h1{
    align-content: center;
    color: navy;
}
form label{
    float: left;
    width: 300;
    margin: 3px 0px 0px 0px;
}